*{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        
        .room {
            width: 100%;
            height: 730px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            color: #333;
            perspective: 1000px;
            position: relative;
            background-color: #fff;
        }

        .ceiling {
            width: 1150px;
            height: 700px;
            background: linear-gradient(to right, #9a9999, #e1e4e4);
            transform: rotateX(90deg) translateZ(-200px);
            box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.05);
            position: absolute;
            bottom: 580px;
        }

        .wall {
            position: absolute;
            background-color: #f8f8f8;
            box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.1);
        }
 
        /*left wall with it's all properties*/
        .left-wall {
            width: 610px;
            height: 627px;
            transform: rotateY(-90deg) translateZ(-450px);
            background: linear-gradient(to bottom, #dddcdc, #e1e4e4);
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: inset 0 0 40px rgba(0, 0, 0, 0.1);
            position: absolute;
            bottom: 89px;
            margin-left: 165px;
        }

        .footer-right {
            width: 100%;
            height: 50px;
            background-color: #333;
            position: absolute;
            bottom: 0%;
        }

        /*front wall with it's all properties*/
        .front-wall {
            width: 1150px;
            height: 676px;
            transform: translateZ(-400px) rotateY(0deg);
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            z-index: 1;
            margin-bottom: 81px;
            background: linear-gradient(to right, #999797, #e2e5e5);
        }

        .tv {
            width: 350px;
            height: 200px;
            background: linear-gradient(to right, #2c2b2b, #7a7a79);
            outline: 11px solid black;
            position: absolute;
            top: 140px;
            left: 200px;
        }

        .sony {
            font-size: 8px;
            width: 25px;
            height: auto;
            color: #fff;
            
            position: absolute;
            top: 199px;
            left: 45%;
        }

        .sticker {
            width: 10px;
            height: 50px;
            background-color: #fff;
            position: absolute;
            bottom: 158px;
            right: 349px;
        }

        .c-line, .c-line1 {
            width: 10px;
            height: 100px;
            background: linear-gradient(to bottom, #2b1301, #4e2201);
            position: absolute;
        }

        .c-line {
            left: 220px;
            bottom: 140px;
        }

        .c-line1 {
            bottom: 140px;
            left: 350px;
        }

        .chair {
            width: 140px;
            height: 70px;
            background: linear-gradient(to bottom, #080022, #6a3106);
            
            position: absolute;
            bottom: 180px;
            left: 220px;

        }

        .footer {
            width: 100%;
            height: 50px;
            background-color: #333;
            position: absolute;
            bottom: 0%;
        }

         .door {
            width: 300px;
            height: 630px;
            background: linear-gradient(to right, #3f1601, #643f2c);
            position: absolute;
            bottom: 0%;
            right: 110px;
            outline: 3px solid black;
            border-radius: 1%;
        }

        .window-header {
            width: 275px;
            height: 100px;
            background: linear-gradient(to right, #9dbdd2, #d8fbfb);
            border-radius: 5%;
            position: absolute;
            top: 10px;
            left: 13px;
            border: 3px solid black;
        }

        .main-door {
            width: 275px;
            height: 495px;
            background: linear-gradient(to right, #3f1601, #643f2c);
            position: absolute;
            bottom: 15px;
            left: 13px;
            border: 5px solid black;
        }

        .main-door2 {
            width: 250px;
            height: 470px;
            background: linear-gradient(to right, #3f1601, #643f2c);
            position: absolute;
            bottom: 8px;
            left: 8px;
            border: 5px solid black;
        }

        .horizental-line, .horizental-line1, .horizental-line2 {
            width: 100%;
            height: 6px;
            background-color: #87CEEB;
            outline: 3px solid black;
            background-color: #481902;
        }

        .horizental-line {
            position: absolute;
            top: 100px;
        }

        .horizental-line1 {
            position: absolute;
            top: 230px;
        }

        .horizental-line2 {
            position: absolute;
            bottom: 90px;
        }

        .handel {
            width: 10px;
            height: 50px;
            background-color: rgb(188, 161, 6);
            position: absolute;
            top: 40%;
            right: 240px;
            outline: 1px solid black;
        }
        
        .horizental-handel {
            width: 50px;
            height: 10px;
            background-color: rgb(188, 161, 6);
            position: absolute;
            top: 45%;
            left: 0%;
            border: 1px solid black;
        }

        .circel-handel {
            width: 3%;
            height: 2%;
            background-color: #ddd;
            border-radius: 80%;
            outline: 1px solid black;
            background-color: rgb(188, 161, 6);
            position: absolute;
            top: 48%;
            right: 241.5px;
        }
        

       /*rigth wall with it's all properties*/
        .right-wall {
            width: 905px;
            height: 700px;
            transform: rotateY(90deg) translateZ(-450px);
            background: linear-gradient(to left, #8e8a8a, #e1e4e4);
            position: absolute;
            bottom: 57px;
            margin-right: 285px;
        }

        .footer-right {
            width: 100%;
            height: 50px;
            background-color: #333;
            position: absolute;
            bottom: 0%;
        }

        /*floor and it's all properties*/
        .floor {
            width: 770px;
            height: 1000px;
            background-color: #d1d0d0;
            transform: rotateX(-90deg) translateZ(200px);
            background-image: 
                linear-gradient(90deg, #a5a4a4 1px, transparent 1px),
                linear-gradient(0deg, #9a9999 1px, transparent 1px);
            background-size: 40px 40px;
            box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.1);
            position: absolute; 
        }