*{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        
        .room {
            width: 100%;
            height: 730px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            color: #333;
            perspective: 1000px;
            position: relative;
            background-color: #fff;
        }

        .ceiling {
            width: 1150px;
            height: 700px;
            background: linear-gradient(to right, #9a9999, #e1e4e4);
            transform: rotateX(90deg) translateZ(-200px);
            box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.05);
            position: absolute;
            bottom: 580px;
        }

        .wall {
            position: absolute;
            background-color: #f8f8f8;
            box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.1);
        }

        .left-wall {
            width: 610px;
            height: 627px;
            transform: rotateY(-90deg) translateZ(-450px);
            background: linear-gradient(to bottom, #dddcdc, #e1e4e4);
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: inset 0 0 40px rgba(0, 0, 0, 0.1);
            position: absolute;
            bottom: 89px;
            margin-left: 165px;
        }

        .front-wall {
            width: 1150px;
            height: 676px;
            transform: translateZ(-400px) rotateY(0deg);
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            z-index: 1;
            margin-bottom: 81px;
            background: linear-gradient(to right, #999797, #e2e5e5);
        }

        .right-wall {
            width: 905px;
            height: 700px;
            transform: rotateY(90deg) translateZ(-450px);
            background: linear-gradient(to left, #8e8a8a, #e1e4e4);
            position: absolute;
            bottom: 57px;
            margin-right: 285px;
        }

        .floor {
            width: 770px;
            height: 1000px;
            background-color: #d1d0d0;
            transform: rotateX(-90deg) translateZ(200px);
            background-image: 
                linear-gradient(90deg, #a5a4a4 1px, transparent 1px),
                linear-gradient(0deg, #9a9999 1px, transparent 1px);
            background-size: 40px 40px;
            box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.1);
            position: absolute; 
        }